vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Apr 2008 22:17:07 -0000
vti_extenderversion:SR|6.0.2.5516
vti_thicketsupportingfile:BW|true
vti_backlinkinfo:VX|schedules/kptvdaily.htm schedules/kptvdaily_files/sheet001.html schedules/kptvdaily_files/sheet002.html schedules/kptvdaily_files/sheet006.html schedules/kptvdaily_files/sheet007.html schedules/kptvdaily_files/sheet008.html schedules/kptvdaily_files/sheet009.html schedules/kptvdaily_files/sheet003.html schedules/kptvdaily_files/sheet004.html schedules/kptvdaily_files/sheet005.html schedules/kptvdaily_files/sheet010.html schedules/kptvdaily_files/sheet011.html
vti_author:SR|RON-AMD7700X-PC\\rdune
vti_modifiedby:SR|RON-AMD7700X-PC\\rdune
vti_timecreated:TR|05 Apr 2008 22:24:12 -0000
vti_cacheddtm:TX|05 Apr 2008 22:24:12 -0000
vti_filesize:IR|46763
