.mstheme
{
	separator-image: url(klorbar.jpg);
	list-image-1: url(blubul1a.gif);
	list-image-2: url(blubul2a.gif);
	list-image-3: url(blubul3a.gif);
	nav-banner-image: url(blubanna.gif);
	navbutton-horiz-normal: url(bluhbuda.gif);
	navbutton-horiz-hovered: url(bluhbuha.gif);
	navbutton-horiz-pushed: url(bluhbusa.gif);
	navbutton-vert-normal: url(bluvbuda.gif);
	navbutton-vert-hovered: url(bluvbuha.gif);
	navbutton-vert-pushed: url(bluvbusa.gif);
	navbutton-home-normal: url(bluhomda.gif);
	navbutton-home-hovered: url(bluhomha.gif);
	navbutton-home-pushed: url(bluhomsa.gif);
	navbutton-next-normal: url(blunexda.gif);
	navbutton-next-hovered: url(blunexha.gif);
	navbutton-next-pushed: url(blunexsa.gif);
	navbutton-prev-normal: url(blupreda.gif);
	navbutton-prev-hovered: url(blupreha.gif);
	navbutton-prev-pushed: url(blupresa.gif);
	navbutton-up-normal: url(bluupda.gif);
	navbutton-up-hovered: url(bluupha.gif);
	navbutton-up-pushed: url(bluupsa.gif);
}
.mstheme-bannertxt
{
	font-family: Century Gothic, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
ul
{
	list-style-image: url(blubul1a.gif);
}
ul ul
{
	list-style-image: url(blubul2a.gif);
}
ul ul ul
{
	list-style-image: url(blubul3a.gif);
}
